h1 {
    text-align: center;
    color: rgb(10, 155, 203);
    background-color:  rgb(50, 44, 44);
    padding: 20px;
    margin: 10px;
    border-radius: 10px;

}

#expense-section {
    padding: 20px;
    margin: 20px 0;
}

#expense-section {
    padding: 20px;
    margin: 20px 0;
}

table {
    border-collapse: collapse; width: 100%;
}

th, td {
    border: 1px solid black;
    padding: 10px;
}

th {
    background-color: rgb(103, 203, 127);
}

tbody tr:nth-child(even) {
    background-color: rgb(250, 184, 184);
}


#expense-table-section table {
    width: 100%;
    border-collapse: collapse;
}



#expense-table-section th, #expense-table-section td {
    border: 1px solid #ccc;
    padding: 12px;
    text-align: left;
}




#expense-table-section th {
    background-color: #3fea7a;
    color: black;
}



#expense-table-section tr:nth-child(even) {
    background-color: #ddd;
}

p {
    color: rgb(18, 18, 21);
    text-align: center;
    padding: 1%;
}

#expense-table-section tbody tr:hover {
    background-color: #ddd;
}

#expense-table-section td {
    font-size: 16px;
}

#expense-table-section > table {
    margin-top: 20px;
}

input:not([type="submit"]) {
    padding: 8px;
}

input:focus, select:focus {
    outline: 2px solid blue;
}

button {
    cursor: pointer;
}